/*div{
    height: 100px;
    width: 100px;
}*/

.nonflex{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid red;
    height: 100px;
    width: 500px;
}

.cont1{
    background-color: rgb(204, 204, 204);
    display:flex;
    justify-content: flex-start;
    border: 2px solid red;
    height: 100px;
    width: 500px;
}
.cont2{
    background-color: rgb(145, 143, 143);
    display:flex;
    border: 2px solid red;
    height: 100px;
    width: 500px;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.box1{
    background-color: rgb(123, 172, 32);
    width: 200px;
}
.box2{
    background-color: rgb(134, 155, 42);
    width: 200px;
}

.cont3{
    background-color: rgb(92, 91, 91);
    display:flex;
    border: 2px solid red;
    height: 100px;
    width: 500px;
    justify-content: space-evenly;
    align-content: center;
    /*flex-wrap:wrap;*/
}

.items1{
    align-items: flex-end;
    border: 2px solid rgb(99, 245, 255);
    height: 50px;
    /*display:flex;*/
}

.items2{
    align-items: flex-start;
    border: 2px solid rgb(99, 245, 255);
    height: 60px;
}

.items3{
    border: 2px solid rgb(99, 245, 255);
    height: 40px;
}

.box3{
    background-color: rgb(107, 218, 194);
    /*width: 200px;*/
}

.box4{
    background-color: rgb(155, 107, 218);
    /*width: 200px;*/}

.box5{
    background-color: rgb(218, 107, 203);
    /*width: 200px;*/
} 

.box6{
    background-color: rgb(218, 170, 107);
    /*width: 200px;*/
}

.box7{
    background-color: rgb(218, 201, 107);
    /*width: 200px;*/}

.box8{
    background-color: rgb(107, 218, 153);
    /*width: 200px;*/
} 

.box9{
    background-color: rgb(142, 218, 107);
    /*width: 200px;*/
}