/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  /*border: 2px solid rgb(0, 255, 221);*/
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  /*height: 60px;*/ /*was this needed or is height created by auto?*/
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.left {
  /*border: 2px solid black;*/
  display:flex;
  align-items: center;
}
.logo {
  /*border: 2px solid rgb(166, 34, 179);*/
  color: rebeccapurple;
  font-weight: 900;
  font-style: italic;
  font-size: 200%; /*needed?*/
}

.links{
  /*border: 2px solid gold;*/
  display: flex;
  padding-left: 0;
  margin-left: 16px;
  gap: 16px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
  /*border: 2px solid green;*/
}

ul {
  list-style-type: none;
}

.right {
  /*border: 2px solid green;*/
  display:flex;
  gap: 16px;
  align-items: center;
}
button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
  /*height: 30px;*/ /*needed?*/
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
